@font-face {
    font-family: 'Bold';
    src: url('../fonts/MontserratAlternates-Bold.otf');
}

@font-face {
    font-family: 'Regular';
    src: url('../fonts/MontserratAlternates-Regular.otf');
}

@font-face {
    font-family: 'Light';
    src: url('../fonts/MontserratAlternates-Light.otf');
}

@font-face {
    font-family: 'AVENGER';
    src: url('../fonts/AVENGEANCE\ MIGHTIEST\ AVENGER.ttf');
}


:root {
    font-size: 16px;
    font-family: 'Regular';
}


body {
    margin: 0px;
}

* {
    box-sizing: border-box;
}


a{
    text-decoration: none;
}



h1,
h2,
h3,
h4,
h5,
h6,
p,
pre{
    margin: 0;
}


header.container-fluid {
    position: fixed;
    top: -4px;
    right: -12px;
    z-index: 999999;
}


header.container-fluid .row div.logo,
header.container-fluid .row nav {
    display: flex;
    flex-basis: 50%;
    margin-top: -10px;
}

header.container-fluid .row div.logo img {
    position: absolute;
    left: 228px;
    top: 10px;
}

.nav-link {
    color: white;
}

.nav-link:focus,
.nav-link:hover {
    color: red;
}

header.container-fluid .row nav .container-fluid #navbarSupportedContent .imgs {
    background-color: red;
    display: flex;
    flex-direction: row;
    padding: 1.23rem;
    flex-basis: 60%;
    justify-content: space-evenly;

}

header.container-fluid .row nav ul {
    background-color: #21181E;
    opacity: 60%;
    padding: 1rem;
    flex-basis: 103%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;


}

@media (max-width:700px) {
    header.container-fluid .row div.logo img {
        left: 0px;
    }
}

@media (max-width:400px) {

    header.container-fluid .row nav .container-fluid #navbarSupportedContent .imgs img:first-child {
        margin-right: 27px;
        margin-bottom: 10px;
    }
}


/* first sec */

.container-fluid.party {
    height: 100vh;
    width: 100%;
    background-image: url('../imgs/Untitled-1.png');
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: flex-start;
    padding-right: 25rem;
}

.container-fluid.party .row div h1 {
    color: #fff;
    font-size: 6rem;
    margin-bottom: 2rem;

}


.container-fluid.party .row div.pLorem p {
    color: #fff;
    font-size: 2rem;
    margin-bottom: 5rem;
    font-family: 'Bold';
    margin-top: -7.5rem;
    margin-left: 70px;

}

.container-fluid.party .row div button {
    color: #A80E0E;
    border-radius: 8rem;
    padding: 0.5rem 2rem;
    margin-bottom: 2rem;

}

.swiper-button-next::after,
.swiper-button-prev::after {
    color: #fff;
}


.container-fluid img.bottomImg {
    position: absolute;
    bottom: -5px;
    width: 150%;

}

@media (max-width:991.9px) {
    .container-fluid.party .row div h1 {

        font-size: 3rem;

    }

    .container-fluid.party .row div:not(.pLorem) {

        margin-left: 50%;

    }

    .container-fluid.party .row div p {

        font-size: 1rem;

    }
}




/* <!-- Want To Eat? --> */
.container.eat {
    margin-top: 7rem;

}

.container.eat .row div.headInfo {
    display: flex;
    flex-direction: column;
    align-items: center;

}


.container.eat .row div.headInfo h1 {
    color: #A80E0E;
    margin-bottom: 1rem;
    font-size: 3rem;
}

.container.eat .row div.headInfo p {
    color: #382E36;
    margin-top: 1rem;
    font-size: 1.3rem;
    font-family: 'Light';
    margin-bottom: 4.5rem;
}

.container.eat div.slides.row {

    margin-left: 3rem;
    margin-bottom: 6rem;
}

.container.eat div.slides.row div {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.container.eat div.slides.row div img {
    margin-bottom: 2rem;

}

.container.eat div.slides.row div span {
    color: #000;
    font-family: 'Regular';
    font-size: 1.258rem;
    text-transform: uppercase;
    margin-bottom: 4rem;
    margin-right: 1rem;
}


.container.eat div.slides.row div.active {
    background-color: #fff;
    border-radius: 5px;
    padding: 1rem;
    box-shadow: 0 1rem 1rem rgb(0 0 0 / 7%);
    margin-top: -2rem;
    width: 12rem;
    height: 12rem;
}


/* <!-- We Guarantee 30 Minutes Delivery --> */

.container-fluid.delivery {
    overflow: hidden;
}

.container-fluid.delivery .row img.img-fluid,
.container-fluid.quality .row img.img-fluid {
    max-width: 140%;
    width: 130%;
    object-fit: cover;
    margin-top: -1.258rem;
    margin-left: -21px;
}

.container-fluid.delivery .row img.img-bottom {
    margin-bottom: -0.7rem;
    max-width: 140%;
    width: 130%;
    object-fit: cover;
    padding-left: 0rem;
}


.container-fluid.delivery .row div:not(.img-1 .hBack) {
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.container-fluid.delivery .row div:not(.img-1) div.hBack h1 {
    margin-left: 6rem;
    margin-bottom: 2rem;
    margin-top: -2rem;
    color: #fff;
    font-size: 3rem;
    margin-top: -9rem;
}




.container-fluid.delivery .row div:not(.img-1) p {
    color: #fff;
    font-family: 'Regular';
    font-size: 1.3rem;
    margin-top: 1.325rem;
    line-height: 1remx;
}

/* Our Most Popular Recipes  */

.container.popular .row div.header-sec {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7.6rem;
}

.container.popular .row div.header-sec h1,
.container.client .row .header-sec h1 {
    color: #A80E0E;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

.container.popular .row div.header-sec img {
    margin-bottom: 1.5rem;
}

.container.popular .row div.header-sec p,
.container.client .row .header-sec p {
    font-family: 'Light';
    margin-bottom: 7rem;
}


.card {
    position: relative;
}

.card-text {
    color: #686868;
    font-family: 'Light';
    font-size: 0.9rem;
    margin-top: 2rem;
}


.mm {
    width: 100%;
    height: 6px;
    position: absolute;
    bottom: 10.3rem;
}

.container.popular .row .boxes .col .card .card-body div {
    display: flex;
    margin-top: 3rem;
}

.container.popular .row .boxes .col .card .card-body button.btn {
    color: #fff;
    background-color: #FFAA00;
    border-color: #FFAA00;

    border-radius: 3rem;

}

.container.popular .row .boxes .col .card .card-body div p {
    color: #A80E0E;
    margin: 0.5rem;
    font-size: 1.5rem;

}

/* container client */


.container.client .row .header-sec {

    display: flex;
    flex-direction: column;
    align-items: center;


}


.container.client .row .header-sec img {
    margin-bottom: 2.5rem;

}

.container.client .row .info-div p#info {
    color: #000;
    font-family: 'Light';
    font-size: 1rem;
    margin: 1.5rem auto;
    line-height: 2rem;
}

.container.client .row .info-div div h1 {
    color: #000;
    position: relative;
    font-size: 1.2rem;

}

.container.client .row .info-div div h1::after,
.container-fluid.quality .boxes-info .card .card-body .text-muted::after {
    content: "";
    width: 4rem;
    height: 0.1rem;
    background-color: #A80E0E;
    position: absolute;
    top: 0.75rem;
    left: 9rem;
}


.container.client .row .info-div div p {
    color: #686868;
    font-size: 1rem;
    margin-top: 0.8rem;
    margin-bottom: 0.2rem;
}


/* container-fluid quality */

.container-fluid.quality {

    margin-top: 9rem;
    background-color: #FFAA00;
    overflow: hidden;
}


.container-fluid.quality .boxes-info {

    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 7rem;
    margin-bottom: 9rem;
}

.container-fluid.quality .boxes-info .card .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}


.container-fluid.quality .boxes-info .card .card-body .text-muted {
    font-size: 1.3rem;
    font-family: 'Regular';
    color: #000 !important;
    margin-top: 1.01rem;
    margin-bottom: 2.5rem !important;

}


.container-fluid.quality .boxes-info .card .card-body .text-muted::after {
    background-color: #FFAA00;
    top: 10.5rem;
    left: 7rem;



}


/* container-fluid map */


.container-fluid.map {
 
    background-color: #A80E0E;
}

hr{
    margin: 1rem 0;
    border: 0 #fff;
    border-top: 1px solid;
    opacity: .20;
    color: #fff;
    width: 26rem;
    margin-left: 16rem;

}

.container-fluid.map .row .information{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.container-fluid.map .row button{
    margin-top: 6.5rem;
    margin-bottom: 0.8rem;
    color: #fff;
    background-color: #FFAA00;
    border-radius: 4.5rem;
    padding: 0.5rem 3rem;
    font-size: 2rem;

}
.container-fluid.map .row a p{
    color: #ffffff;
    margin-left: 15rem;
    font-size: 4rem;

}
#img-map{
    height: 600px;
    width: 98%;
    margin-left: 1.65rem;
}

@media (max-width:780px){
    .container-fluid.map .row a p {
       
        margin-left: 0;
        font-size: 1.5rem;
    }

    #img-map{
        margin: 0;
        width: 50%;
    }
}


/* Footer style */

.titl-footer {
    margin-top: 30px;
    color: #FF9100;
    background-color: rgba(255, 145, 0, 0.2);
    border-radius: 30px;
    font-size: 1rem;
    display: inline-block;
    padding: 14px 26px 12px 25px;
    margin-bottom: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
}

.contact a {
    font-size: 2.5rem;
    color: #0B0D39;
}


.contact>a:not(.media) img {
    background-color: #356DFF;
    padding: 0.7rem;
    border-radius: 100px;
    margin-left: 2rem;
    color: #0B0D39;
}

.social {
    display: flex;
}


.social p {
    font-size: 1rem;
    color: #707070;
    margin-top: 1rem;
}


.social i {
   
    padding: 0.8rem;
    background-color: #fff;
    
    font-size: 1.5rem;
    margin-left: 1rem;
}

.fa-instagram:before {
    content: "\f16d";
}


.fa-twitter:before {
    content: "\f099";
}

.fa-facebook-f:before {
    content: "\f39e";
}

table, td, a {
    color: #707070;
    font-size: 1.2rem;
    font-weight: 800;
}

table, th, td {
    padding: 1rem;
    color: #0B0D39;
}

tbody, td, tfoot, th, thead, tr {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
}


@media (max-width:991.9px){
    header.container-fluid .row nav ul{
        flex-direction: column;
    }
    #imgg-fluid{
        display: none;
    }
}

